// Font's URL
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Colors
$Pri: #fff;
$Sec: #003876;

$GrayL: #D5D5D5;
$Nar: #ff6500;
$Fc: #231F20;
$Gray: #6d6e71;

// Warnig
$Green: #87FF7C;
$Yellow: #FFDD64;
$Red: #FFB2B2;
